{% extends 'base.html' %}

{% set title='Home' %}

{% block content %}
	{% for post in posts %}
	<article>
		<section>
			<a href="/post/{{post.key.id()}}" class="title">{{post.title | safe}}</a>
			<h2 class="author">by {{post.author.get().username}} on {{post.created.strftime('%d %b, %Y')}}</h2>
		</section>
		<p class="post-content">{{post.content.replace('\n', '<br>') | safe}}</p>
	</article>
	{% else %}
	<div class="no-post">
		<p>Drats! No posts found :(</p>	
	</div>
	{% endfor %}
{% endblock content %}